#infoContainer {
    margin: 40px;
    padding: 30px;
    text-align: justify;
    float: center;
    margin-left: 5%;
    background-color: rgb(226, 226, 245);
    height: 220px;
    border-radius: 15px;
}

#info {
    margin-left: 40%;
    font-size: large;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-stretch: semi-expanded;
}