<div id="mainPage">
    <h1>Employee Management System</h1>
    <div id="navTool">
        <ng-container *ngIf="!isLoggedIn">
            <input type="button" id="login" routerLink="/Login" value="Login" />
        </ng-container>
        <input type="button" id="EmployeeList" routerLink="Employee/EmployeeList" value="Employee List" />

        <ng-container *ngIf="isLoggedIn">
            <input type="button" id="logout" routerLink="/Login" (click)="Logout();" value="Logout" />
        </ng-container>
    </div>
</div>
<router-outlet></router-outlet>